{% set intvars = interfaces[ansible_hostname] %}
# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0 inet dhcp

{% if intvars.servers is defined %}
{% for interface in intvars.servers %}
auto {{ interface }}
iface {{ interface }}
    alias desc
    address {{ intvars.loopback }}
    netmask 255.255.255.255
    address {{ intvars.loopbackv6 }}
    netmask 128

{% endfor %}
{% endif %}

{% if intvars.fabric is defined %}
{% for interface in intvars.fabric %}
auto {{ interface }}
iface {{ interface }}
    alias desc
    address {{ intvars.loopback }}
    netmask 255.255.255.255
    address {{ intvars.loopbackv6 }}
    netmask 128

{% endfor %}
{% endif %}
