{% set intvars = interfaces[ansible_hostname] %}
# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0
    address {{ intvars.mgmtipv4 }}
    netmask 255.255.255.0
    address {{ intvars.mgmtipv6 }}
    post-up sysctl -w net.ipv6.conf.$IFACE.accept_ra=0
    up ip addr change {{intvars.mgmtipv6 }} dev $IFACE preferred_lft 0
    netmask 64

{% if intvars.servers is defined %}
{% for interface in intvars.servers %}
auto {{ interface }}
iface {{ interface }}
    mtu {{ mtu }}

auto {{ interface }}.{{ accessvlan }}
iface {{ interface }}.{{ accessvlan }}
{% if interfaces[ansible_hostname].servers[interface].desc is defined %}
    alias {{ interfaces[ansible_hostname].servers[interface].desc }}
{% endif %}
    address {{ intvars.loopback }}
    netmask 255.255.255.255
    address {{ intvars.loopbackv6 }}
    netmask 128

{% endfor %}
{% endif %}

{% if intvars.fabric is defined %}
{% for interface in intvars.fabric %}
auto {{ interface }}
iface {{ interface }}
{% if interfaces[ansible_hostname].fabric[interface].desc is defined %}
    alias {{ interfaces[ansible_hostname].fabric[interface].desc }}
{% endif %}
    address {{ intvars.loopback }}
    netmask 255.255.255.255
    address {{ intvars.loopbackv6 }}
    netmask 128

{% endfor %}
{% endif %}
